<!DOCTYPE html>
<html>
<head>
    <title>Pablo Córdova Morales</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/myStyles.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                <button class="navbar-toggler navbar-toggler-right" type="buttton" data-toggle="collapse" data-target="#full-options" aria-controls="full-options" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse justify-content-end" id="full-options">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT ME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">PROJECTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CYBERSECURITY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABILITIES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT</a>
                    </li>
                </ul>              
            </div>
        </nav>
        <!-- Segment for Video -->
        <div class="video">
            <div class="col overlay">
                <span>PABLO CÉSAR CÓRDOVA MORALES</span><br>
                <span>Full stack developer and Web pentester</span>
            </div>
            <video id="video-welcome" autoplay>
                <source src="asset/FinalVideo.mp4" type="video/mp4">
            </video>
        </div>
    </header>
    <!-- Segment for About me-->
    <div class="row">
        <div class="col segment-title">
            <span>ABOUT ME</span>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-5 ">
            <span>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut
            </span>
        </div>
        <div class="col-5 align-self-center">
            <div class="image">
                <img src="/asset/photo.jpg" height="200" width="200">
            </div>
            <div class="icons">
                <div>
                    <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-github fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-stack-overflow fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- Segment for Projects-->
    <div class="row">
        <div class="col segment-title">
            <span>PROJECTS</span>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-5">
            <span>Title 1</span><br>
            <span>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu.
            </span>
        </div>
        <div class="col-5 align-self-center">
            <span>TAG1</span>
            <span>TAG2</span>
            <span>TAG3</span>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-5">
            <span>Title 2</span><br>
            <span>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu.
            </span>
        </div>
        <div class="col-5 align-self-center">
            <span>TAG1</span>
            <span>TAG2</span>
            <span>TAG3</span>
        </div>
    </div>
    <!-- Segment for Cybersecurity-->
    <div class="row">
        <div class="col segment-title">
            <span>CYBERSECURITY</span>
        </div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
            <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </span>
        </div>
    </div>
    <div class="row">
        <div class="col cybersecurity-icons">
            <span>Icons </span><br>
        </div>
    </div>
    <!-- Segment for Abilities-->
    <div class="row">
        <div class="col segment-title">
            <span>ABILITIES</span>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
            <span>Skills</span>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-5">
            <ul class="no-bullets">
                <li>
                    <span>Lorem ipsum 1</span>
                    <span>STARS</span>
                </li>
                <li>
                    <span>Lorem ipsum 2</span>
                    <span>STARS</span>
                </li>
            </ul>
        </div>
        <div class="col-5">
            <ul class="no-bullets">
                <li>
                    <span>Lorem ipsum 3</span>
                    <span>STARS</span>
                </li>
                <li>
                    <span>Lorem ipsum 4</span>
                    <span>STARS</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
            <span>Tools</span>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-5">
            <ul class="no-bullets">
                <li>
                    <span>Lorem ipsum 1</span>
                    <span>STARS</span>
                </li>
                <li>
                    <span>Lorem ipsum 2</span>
                    <span>STARS</span>
                </li>
            </ul>
        </div>
        <div class="col-5">
            <ul class="no-bullets">
                <li>
                    <span>Lorem ipsum 3</span>
                    <span>STARS</span>
                </li>
                <li>
                    <span>Lorem ipsum 4</span>
                    <span>STARS</span>
                </li>
            </ul>
        </div>
    </div>
    <!-- Segment for Contact-->
    <div class="row">
        <div class="col segment-title">
            <span>CONTACT</span>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
            <form autocomplete="on" action="/contact" method="POST">
                <fieldset>
                    <legend>Full name</legend><br>
                    <input type="text" name="fname" id="fname" maxlength="30" placeholder="First name" required>
                    <input type="text" name="lname" id="lname" maxlength="30" placeholder="Last name" required>
                </fieldset>
                <div>
                    <legend>Email Address</legend><br>
                    <input type="text" name="email" id="email" placeholder="Email" required>
                </div>
                <div>
                    <legend>Your Message</legend><br>
                    <textarea id="message"></textarea>
                </div>
                <div>
                    <input type="submit" name="sendMessage" value="Send Message" required>
                </div>
            </form>
        </div>
    </div>
        
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/tether.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/myJs.js"></script>
</body>
</html>